@font-face {
    font-family: "PT Sans";
    src: local('☺'),
         url("../fonts/PT-Sans/PT-Sans-Regular.woff") format('woff'),
         url("../fonts/PT-Sans/PT-Sans-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local('☺'),
         url("../fonts/PT-Sans/PT-Sans-Bold.woff") format('woff'),
         url("../fonts/PT-Sans/PT-Sans-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Icons";
    src: url("../fonts/Icons/icons.woff") format('woff'),
         url("../fonts/Icons/icons.ttf") format('truetype');
}

:root {
    --color-white: #fff;
    --color-light: #f8f9fa;
    --color-dark: #181c28;
    --color-darkgrey: rgb(77, 77, 77);
    --color-grey: #9b9b9b;

    --color-html: #8c6ad2;
    --color-js: #0ca8a0;

    --box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
        0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

*, :after, :before {
    box-sizing: border-box; 
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: "PT Sans", sans-serif;
    line-height: 1.75;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.icon-clone::before {
    font-family: "Icons";
    content: "\e900";
}

.title {
    text-align: center;
    font-size: 3rem;
    margin: 5rem 0;
}

.section {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

.section__title {
    margin: 4rem 3rem;
    color: var(--color-darkgrey);
}

.section__marked-box:not(:last-child) {
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 900px) {
    .section {
        width: 90%;
        font-size: 1.6rem;
    }
}

.marked-box {
    padding: 5rem;
    border-radius: .25em;
    background-color: var(--color-white);
	box-shadow: var(--box-shadow);
    border-left: .5rem solid var(--color-grey);
}

.marked-box._html {
    border-left-color: var(--color-html);
}

.marked-box._html .marked-box__title,
.marked-box._html .links__link:hover {
    color: var(--color-html);
}

.marked-box._js {
    border-left-color: var(--color-js);
}

.marked-box._js .marked-box__title,
.marked-box._js .links__link:hover {
    color: var(--color-js);
}

.marked-box__title {
    font-size: 2.7rem;
    text-align: left;
    margin: 0;
    color: var(--color-grey);
}

@media screen and (max-width: 900px) {
    .marked-box {
        padding: 2.5rem;
    }

    .marked-box__title {
        font-size: 2.2rem;
    }
}

.links {
    list-style: none;
    padding: 0;
}

.links__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.links__link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    transition: color 0.3s;
}

.links__link:hover {
    color: var(--color-grey);
}

.links__link::before {
    margin-right: .5rem;
    color: var(--color-darkgrey);
}

.details__summary {
    cursor: pointer;
    font-weight: 700;
}

.details__content {
    padding-top: 2rem;
}

.slider {
    height: 35rem;
}

.slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25em;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f9fa88;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: "Icons";
    font-size: 1.2rem;
    color: #181c28;
}

.swiper-button-prev::after {
    content: '\e901';
}

.swiper-button-next::after {
    content: '\e902';
}

@media screen and (max-width: 900px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1rem;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.projects__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
    border-radius: .25em;
    box-shadow: var(--box-shadow);
    border: .4rem solid var(--color-white);
}

@media screen and (max-width: 900px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

.footer {
    margin: 5rem 2rem;
    text-align: center;
    color: var(--color-grey);
    font-size: 1.4rem;
}
