@font-face {
    font-family: "PT Sans";
    src: local('☺'),
         url("../fonts/PT-Sans/PT-Sans-Regular.woff") format('woff'),
         url("../fonts/PT-Sans/PT-Sans-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local('☺'),
         url("../fonts/PT-Sans/PT-Sans-Bold.woff") format('woff'),
         url("../fonts/PT-Sans/PT-Sans-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Icons";
    src: url("../fonts/Icons/icons.woff") format('woff'),
         url("../fonts/Icons/icons.ttf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    line-height: 1.75;
    background-color: #f8f9fa;
}

*, :after, :before {
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: normal !important;
    transition: color 0.3s;
}

i {
    margin: 25px 10px 15px 0px;
    display: block !important;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #181c28;
    margin: 50px 0;
}

h2 {
    margin: 40px 30px;
    color: rgb(77, 77, 77);
}

h3 {
    font-size: 27px;
    text-align: left;
    margin: 0px;
    color: #181c28;
}

summary {
    cursor: pointer;
}


.icon-clone::before {
    font-family: "Icons";
    content: "\e900";
}

.courses {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.courses__item {
    margin-bottom: 25px;
    padding: 50px;
    color: #181c28;
    border-radius: .25rem;
    background-color: #fff;
	box-shadow:
		0 12px 28px 0 rgba(0, 0, 0, 0.2),
		0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.courses__theme {
    font-family: inherit;
    margin: 0;
}

.courses__item-html  { border-left: 5px solid #8c6ad2; }
.courses__item-js    { border-left: 5px solid #0ca8a0; }
.courses__item-links { border-left: 5px solid #9b9b9b; }

.courses__item-html h3  { color:  #8c6ad2; }
.courses__item-js h3    { color:  #0ca8a0; }
.courses__item-links h3 { color:  #9b9b9b; }

.courses__item-html a:hover  { color:  #8c6ad2; }
.courses__item-js a:hover    { color:  #0ca8a0; }
.courses__item-links a:hover { color:  #9b9b9b; }

.courses__list {
    list-style: none;
    padding: 0;
}

.courses__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.courses__list-item a::before {
    margin-right: 5px;
    color:rgb(77, 77, 77);
}

@media screen and (max-width: 900px) {
    .courses__item {
        padding: 25px;
    }

    .courses {
        width: 90%;
        font-size: 16px;
    }

    h3 {
        font-size: 22px;
    }
}

.courses__photo {
    height: 350px;
}

.courses__photo-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f9fa88;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: "Icons";
    font-size: 1.2rem;
    color: #181c28;
}

.swiper-button-prev::after {
    content: '\e901';
}

.swiper-button-next::after {
    content: '\e902';
}

@media screen and (max-width: 900px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1rem;
    }
}

.courses__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media screen and (max-width: 900px) {
    .courses__projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .courses__projects {
        grid-template-columns: 1fr;
    }
}

.courses__projects-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: .25rem;
	box-shadow:
		0 12px 28px 0 rgba(0, 0, 0, 0.2),
		0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border: 4px solid white;
}
