<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Школа веб-разработки</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="img/favicon/favicon.png">
	<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div id="app">
		<header class="header">
			<h1 class="title">Школа веб-разработки</h1>
		</header>
		<main>
			<section class="section">
				<h2 class="section__title">⚡️ Курсы</h2>
				<div class="section__marked-box marked-box" v-bind:class="course.className" v-for="course in courses">
					<h3 class="marked-box__title" v-html="course.title"></h3>
					<ul class="links">
						<li class="links__item" v-for="item in course.links">
							<a class="links__link icon-clone" :href="item.link" v-html="item.name" target="_blank"></a>
						</li>
					</ul>
					<div>
						<p><b>Продолжительность: </b><span v-html="course.duration"></span></p>
						<p><b>Задача: </b><span v-html="course.task"></span></p>
						<p><b>Выпускной проект: </b><span v-html="course.project"></span></p>
					</div>
					<details class="details">
						<summary class="details__summary">Темы курса:</summary>
						<div class="details__content">
							<div v-for="theme in course.themes" v-html="theme"></div>
						</div>
					</details>
				</div>
			</section>
			<section class="section">
				<h2 class="section__title">⚡️ Ресурсы</h2>
				<div class="section__marked-box marked-box">
					<h3 class="marked-box__title" v-html="resourses.title"></h3>
					<ul class="links">
						<li class="links__item" v-for="item in resourses.links">
							<a class="links__link icon-clone" :href="item.link" v-html="item.name" target="_blank"></a>
						</li>
					</ul>
				</div>
			</section>
			<section class="section">
				<h2 class="section__title">⚡️ Live</h2>
				<div class="swiper-container slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="photoUrl in photos">
							<img class="slider__image swiper-lazy" :data-src="photoUrl">
							<div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
						</div>
					</div>
					<button class="swiper-button-prev"></button>
					<button class="swiper-button-next"></button>
				</div>
			</section>
			<section class="section">
				<h2 class="section__title">⚡️ Проекты студентов</h2>
				<div class="projects">
					<a v-for="project in projects" :href="project.link" target="_blank">
						<img class="projects__image" :src="project.img">
					</a>
				</div>
			</section>
		</main>
		<footer class="footer">it-school58</footer>
	</div>

	<script src="libs/vue/vue.min.js"></script>
	<script src="libs/swiper/swiper-bundle.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
