* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	max-width: 1200px;
	margin: auto;
}
h1 {
	color: #1d4280;
	font-size: 20px;
	padding-top: 90px;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #f8f9fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu a {
	margin: 5px;
	text-decoration: none;
	color: black;
	transition: 0.4s;
	padding: 15px 20px;
	display: block;
	border-radius: .25rem;
	box-shadow:
		0 12px 28px 0 rgba(0, 0, 0, 0.2),
		0 2px 4px 0 rgba(0, 0, 0, 0.1),
		inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.menu a:hover {
	background-color: #3068c2;
	color: white;
}
